.space {
    position: relative;
    overflow: hidden;
}

@media screen and (orientation:portrait) {
    .space {
        min-height: 100vh;
    }
}

@media screen and (orientation:landscape) {
    .space {
        min-height: 100vh;
    }
}

.star {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    overflow: hidden;
}
.star::before, .star::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    box-shadow: 73vw 41vh 1px 0px, 84vw 76vh 1px -0.5px, 28vw 78vh 1px -1px, 12vw 42vh 1px -0.5px, 61vw 71vh 1px -0.5px, 61vw 92vh 1px -0.5px, 38vw 99vh 1px 0px, 30vw 11vh 1px -1px, 31vw 83vh 1px 0px, 62vw 97vh 1px 0px, 96vw 35vh 1px -0.5px, 65vw 80vh 1px 0px, 70vw 79vh 1px 0px, 78vw 96vh 1px -0.5px, 38vw 55vh 1px 0px, 57vw 5vh 1px -0.5px, 28vw 100vh 1px -1.5px, 28vw 76vh 1px -0.5px, 2vw 43vh 1px -1.5px, 76vw 70vh 1px -1px, 55vw 32vh 1px -1px, 22vw 26vh 1px -1.5px, 9vw 21vh 1px -1.5px, 81vw 71vh 1px -1.5px, 54vw 85vh 1px -1.5px, 63vw 35vh 1px 0px, 43vw 1vh 1px -1px, 33vw 83vh 1px -1.5px, 53vw 35vh 1px -1px, 10vw 32vh 1px -1px, 53vw 60vh 1px -0.5px, 62vw 13vh 1px 0px, 35vw 91vh 1px -1.5px, 69vw 73vh 1px -1.5px, 34vw 94vh 1px -1px, 80vw 27vh 1px -1px, 28vw 16vh 1px 0px, 75vw 14vh 1px -0.5px, 61vw 63vh 1px -1.5px, 70vw 42vh 1px 0px, 59vw 7vh 1px -0.5px, 100vw 4vh 1px -1.5px, 57vw 91vh 1px 0px, 5vw 89vh 1px -1.5px, 65vw 77vh 1px -1px, 60vw 89vh 1px -1.5px, 19vw 12vh 1px -1.5px, 15vw 87vh 1px 0px, 71vw 39vh 1px -1px, 42vw 64vh 1px -1.5px;
    border-radius: 1px;
    color: #fff;
    will-change: opacity, transform;
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
    -webkit-animation: twinkling infinite 10s, rolling infinite 15s linear;
    animation: twinkling infinite 10s, rolling infinite 15s linear;
}
@-webkit-keyframes twinkling {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: .3;
    }
}
@keyframes twinkling {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: .3;
    }
}
@-webkit-keyframes rolling {
    to {
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes rolling {
    to {
        -webkit-transform: none;
        transform: none;
    }
}
.star::before {
    left: -100vw;
}
.star:nth-of-type(2)::before {
    -webkit-animation-duration: 19s, 23s;
    animation-duration: 19s, 23s;
}
.star:nth-of-type(2)::after {
    -webkit-animation-duration: 11s, 13s;
    animation-duration: 11s, 13s;
}

.rocket {
    position: absolute;
    top: 20%;
    left: 15%;
    width: 400px;
    max-width: 40vmin;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../images/razzo.png");
    -webkit-animation: rocket-swing 20s linear infinite alternate;
    animation: rocket-swing 20s linear infinite alternate;
}
.rocket::after {
    content: "";
    display: block;
    padding-bottom: 58%;
}
@-webkit-keyframes rocket-swing {
    0% {
        -webkit-transform: translate3d(-5.87785vmin, 8.09017vmin, 0);
        transform: translate3d(-5.87785vmin, 8.09017vmin, 0);
    }
    10% {
        -webkit-transform: translate3d(-5.87785vmin, 3.09017vmin, 0);
        transform: translate3d(-5.87785vmin, 3.09017vmin, 0);
    }
    20% {
        -webkit-transform: translate3d(0vmin, 8.09017vmin, 0);
        transform: translate3d(0vmin, 8.09017vmin, 0);
    }
    30% {
        -webkit-transform: translate3d(-9.51057vmin, 10vmin, 0);
        transform: translate3d(-9.51057vmin, 10vmin, 0);
    }
    40% {
        -webkit-transform: translate3d(5.87785vmin, -3.09017vmin, 0);
        transform: translate3d(5.87785vmin, -3.09017vmin, 0);
    }
    50% {
        -webkit-transform: translate3d(-5.87785vmin, 3.09017vmin, 0);
        transform: translate3d(-5.87785vmin, 3.09017vmin, 0);
    }
    60% {
        -webkit-transform: translate3d(9.51057vmin, -8.09017vmin, 0);
        transform: translate3d(9.51057vmin, -8.09017vmin, 0);
    }
    70% {
        -webkit-transform: translate3d(0vmin, -3.09017vmin, 0);
        transform: translate3d(0vmin, -3.09017vmin, 0);
    }
    80% {
        -webkit-transform: translate3d(-5.87785vmin, 8.09017vmin, 0);
        transform: translate3d(-5.87785vmin, 8.09017vmin, 0);
    }
    90% {
        -webkit-transform: translate3d(9.51057vmin, -3.09017vmin, 0);
        transform: translate3d(9.51057vmin, -3.09017vmin, 0);
    }
    100% {
        -webkit-transform: translate3d(5.87785vmin, 10vmin, 0);
        transform: translate3d(5.87785vmin, 10vmin, 0);
    }
}
@keyframes rocket-swing {
    0% {
        -webkit-transform: translate3d(-5.87785vmin, 8.09017vmin, 0);
        transform: translate3d(-5.87785vmin, 8.09017vmin, 0);
    }
    10% {
        -webkit-transform: translate3d(-5.87785vmin, 3.09017vmin, 0);
        transform: translate3d(-5.87785vmin, 3.09017vmin, 0);
    }
    20% {
        -webkit-transform: translate3d(0vmin, 8.09017vmin, 0);
        transform: translate3d(0vmin, 8.09017vmin, 0);
    }
    30% {
        -webkit-transform: translate3d(-9.51057vmin, 10vmin, 0);
        transform: translate3d(-9.51057vmin, 10vmin, 0);
    }
    40% {
        -webkit-transform: translate3d(5.87785vmin, -3.09017vmin, 0);
        transform: translate3d(5.87785vmin, -3.09017vmin, 0);
    }
    50% {
        -webkit-transform: translate3d(-5.87785vmin, 3.09017vmin, 0);
        transform: translate3d(-5.87785vmin, 3.09017vmin, 0);
    }
    60% {
        -webkit-transform: translate3d(9.51057vmin, -8.09017vmin, 0);
        transform: translate3d(9.51057vmin, -8.09017vmin, 0);
    }
    70% {
        -webkit-transform: translate3d(0vmin, -3.09017vmin, 0);
        transform: translate3d(0vmin, -3.09017vmin, 0);
    }
    80% {
        -webkit-transform: translate3d(-5.87785vmin, 8.09017vmin, 0);
        transform: translate3d(-5.87785vmin, 8.09017vmin, 0);
    }
    90% {
        -webkit-transform: translate3d(9.51057vmin, -3.09017vmin, 0);
        transform: translate3d(9.51057vmin, -3.09017vmin, 0);
    }
    100% {
        -webkit-transform: translate3d(5.87785vmin, 10vmin, 0);
        transform: translate3d(5.87785vmin, 10vmin, 0);
    }
}
.rocket-pop {
    position: absolute;
    top: calc(50% - .5em);
    left: calc(-5% - .5em);
    width: 1em;
    height: 1em;
    margin-left: -12%;
    -webkit-animation: rocket-pops 3s ease-out infinite;
    animation: rocket-pops 3s ease-out infinite;
    background-color: #ccc;
    border-radius: 50%;
}
.rocket-pop:nth-of-type(1) {
    opacity: 0.37;
    font-size: 3.9vmin;
    top: 36%;
    left: -13vw;
    -webkit-animation-delay: -2.1s;
    animation-delay: -2.1s;
    -webkit-transform: rotate(-7deg) translate3d(13vw, 0%, 0) scale(1.3);
    transform: rotate(-7deg) translate3d(13vw, 0%, 0) scale(1.3);
}
.rocket-pop:nth-of-type(2) {
    opacity: 0.38;
    font-size: 4.7vmin;
    top: 44%;
    left: -20vw;
    -webkit-animation-delay: -1.35s;
    animation-delay: -1.35s;
    -webkit-transform: rotate(2deg) translate3d(20vw, 0%, 0) scale(1);
    transform: rotate(2deg) translate3d(20vw, 0%, 0) scale(1);
}
.rocket-pop:nth-of-type(3) {
    opacity: 0.46;
    font-size: 5.4vmin;
    top: 27%;
    left: -18vw;
    -webkit-animation-delay: -2.7s;
    animation-delay: -2.7s;
    -webkit-transform: rotate(4deg) translate3d(18vw, 0%, 0) scale(0.9);
    transform: rotate(4deg) translate3d(18vw, 0%, 0) scale(0.9);
}
.rocket-pop:nth-of-type(4) {
    opacity: 0.65;
    font-size: 5.4vmin;
    top: 41%;
    left: -21vw;
    -webkit-animation-delay: -0.45s;
    animation-delay: -0.45s;
    -webkit-transform: rotate(10deg) translate3d(21vw, 0%, 0) scale(1.1);
    transform: rotate(10deg) translate3d(21vw, 0%, 0) scale(1.1);
}
.rocket-pop:nth-of-type(5) {
    opacity: 0.6;
    font-size: 8vmin;
    top: 35%;
    left: -17vw;
    -webkit-animation-delay: -3s;
    animation-delay: -3s;
    -webkit-transform: rotate(-8deg) translate3d(17vw, 0%, 0) scale(0.7);
    transform: rotate(-8deg) translate3d(17vw, 0%, 0) scale(0.7);
}
.rocket-pop:nth-of-type(6) {
    opacity: 0.66;
    font-size: 4.2vmin;
    top: 43%;
    left: -7vw;
    -webkit-animation-delay: -2.25s;
    animation-delay: -2.25s;
    -webkit-transform: rotate(-4deg) translate3d(7vw, 0%, 0) scale(1.2);
    transform: rotate(-4deg) translate3d(7vw, 0%, 0) scale(1.2);
}
.rocket-pop:nth-of-type(7) {
    opacity: 0.51;
    font-size: 3.6vmin;
    top: 38%;
    left: -24vw;
    -webkit-animation-delay: -1.65s;
    animation-delay: -1.65s;
    -webkit-transform: rotate(-1deg) translate3d(24vw, 0%, 0) scale(1);
    transform: rotate(-1deg) translate3d(24vw, 0%, 0) scale(1);
}
.rocket-pop:nth-of-type(8) {
    opacity: 0.52;
    font-size: 3.9vmin;
    top: 25%;
    left: -9vw;
    -webkit-animation-delay: -0.45s;
    animation-delay: -0.45s;
    -webkit-transform: rotate(-4deg) translate3d(9vw, 0%, 0) scale(1.4);
    transform: rotate(-4deg) translate3d(9vw, 0%, 0) scale(1.4);
}
.rocket-pop:nth-of-type(9) {
    opacity: 0.69;
    font-size: 6.6vmin;
    top: 33%;
    left: -30vw;
    -webkit-animation-delay: -1.05s;
    animation-delay: -1.05s;
    -webkit-transform: rotate(10deg) translate3d(30vw, 0%, 0) scale(0.9);
    transform: rotate(10deg) translate3d(30vw, 0%, 0) scale(0.9);
}
.rocket-pop:nth-of-type(10) {
    opacity: 0.41;
    font-size: 4.6vmin;
    top: 35%;
    left: -33vw;
    -webkit-animation-delay: -1.8s;
    animation-delay: -1.8s;
    -webkit-transform: rotate(-9deg) translate3d(33vw, 0%, 0) scale(1.1);
    transform: rotate(-9deg) translate3d(33vw, 0%, 0) scale(1.1);
}
.rocket-pop:nth-of-type(11) {
    opacity: 0.63;
    font-size: 4.9vmin;
    top: 27%;
    left: -27vw;
    -webkit-animation-delay: -0.15s;
    animation-delay: -0.15s;
    -webkit-transform: rotate(0deg) translate3d(27vw, 0%, 0) scale(0.7);
    transform: rotate(0deg) translate3d(27vw, 0%, 0) scale(0.7);
}
.rocket-pop:nth-of-type(12) {
    opacity: 0.48;
    font-size: 5.6vmin;
    top: 49%;
    left: -12vw;
    -webkit-animation-delay: -1.95s;
    animation-delay: -1.95s;
    -webkit-transform: rotate(0deg) translate3d(12vw, 0%, 0) scale(1.1);
    transform: rotate(0deg) translate3d(12vw, 0%, 0) scale(1.1);
}
.rocket-pop:nth-of-type(13) {
    opacity: 0.7;
    font-size: 2.9vmin;
    top: 48%;
    left: -12vw;
    -webkit-animation-delay: -2.7s;
    animation-delay: -2.7s;
    -webkit-transform: rotate(-7deg) translate3d(12vw, 0%, 0) scale(0.7);
    transform: rotate(-7deg) translate3d(12vw, 0%, 0) scale(0.7);
}
.rocket-pop:nth-of-type(14) {
    opacity: 0.54;
    font-size: 7.9vmin;
    top: 38%;
    left: -32vw;
    -webkit-animation-delay: -1.65s;
    animation-delay: -1.65s;
    -webkit-transform: rotate(-9deg) translate3d(32vw, 0%, 0) scale(0.7);
    transform: rotate(-9deg) translate3d(32vw, 0%, 0) scale(0.7);
}
.rocket-pop:nth-of-type(15) {
    opacity: 0.37;
    font-size: 4vmin;
    top: 46%;
    left: -12vw;
    -webkit-animation-delay: -1.5s;
    animation-delay: -1.5s;
    -webkit-transform: rotate(1deg) translate3d(12vw, 0%, 0) scale(1.4);
    transform: rotate(1deg) translate3d(12vw, 0%, 0) scale(1.4);
}
.rocket-pop:nth-of-type(16) {
    opacity: 0.51;
    font-size: 6.6vmin;
    top: 27%;
    left: -18vw;
    -webkit-animation-delay: -0.15s;
    animation-delay: -0.15s;
    -webkit-transform: rotate(0deg) translate3d(18vw, 0%, 0) scale(1.4);
    transform: rotate(0deg) translate3d(18vw, 0%, 0) scale(1.4);
}
.rocket-pop:nth-of-type(17) {
    opacity: 0.66;
    font-size: 8vmin;
    top: 41%;
    left: -33vw;
    -webkit-animation-delay: -0.45s;
    animation-delay: -0.45s;
    -webkit-transform: rotate(-2deg) translate3d(33vw, 0%, 0) scale(0.8);
    transform: rotate(-2deg) translate3d(33vw, 0%, 0) scale(0.8);
}
.rocket-pop:nth-of-type(18) {
    opacity: 0.42;
    font-size: 4.4vmin;
    top: 24%;
    left: -34vw;
    -webkit-animation-delay: -2.7s;
    animation-delay: -2.7s;
    -webkit-transform: rotate(5deg) translate3d(34vw, 0%, 0) scale(0.8);
    transform: rotate(5deg) translate3d(34vw, 0%, 0) scale(0.8);
}
.rocket-pop:nth-of-type(19) {
    opacity: 0.33;
    font-size: 3vmin;
    top: 31%;
    left: -15vw;
    -webkit-animation-delay: -1.95s;
    animation-delay: -1.95s;
    -webkit-transform: rotate(7deg) translate3d(15vw, 0%, 0) scale(1);
    transform: rotate(7deg) translate3d(15vw, 0%, 0) scale(1);
}
.rocket-pop:nth-of-type(20) {
    opacity: 0.42;
    font-size: 5vmin;
    top: 33%;
    left: -19vw;
    -webkit-animation-delay: -2.1s;
    animation-delay: -2.1s;
    -webkit-transform: rotate(8deg) translate3d(19vw, 0%, 0) scale(0.9);
    transform: rotate(8deg) translate3d(19vw, 0%, 0) scale(0.9);
}
@-webkit-keyframes rocket-pops {
    to {
        -webkit-transform: none;
        transform: none;
        opacity: 0;
    }
}
@keyframes rocket-pops {
    to {
        -webkit-transform: none;
        transform: none;
        opacity: 0;
    }
}
body {
    margin: 0;
    background-color: #006076;
    float: right;
}

.info {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 1em;
    font-size: .9em;
    font-style: italic;
    font-family: serif;
    text-align: right;
    opacity: .7;
}




@media (max-width: 40rem) {
    .slogan {

    }
}


